// Color list
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #EF4036; 
$color-red-2: #D0021B; 

// Path
$image-path: '../../images';

// Font
$Raleway: 'Raleway', sans-serif;
$Muli: 'Muli', sans-serif;
