.btn-ghost {
	background-color: transparent;
	border: 2px solid $color-red;
	border-radius: 30px;
	font: {
		family: $Muli;
		weight: 800;
		size: 16px;
	};
	color: #4A4A4A;
	letter-spacing: 0.08px;
	text-align: center;
	line-height: 27px;
	padding: 10px 20px 8px;
	&:hover, &:focus {
		background-color: $color-red;
		color: $color-white;
	}
}

.btn-link-arrow {
	font-family: $Muli;
	font-weight: 800;
	font-size: 18px;
	color: $color-red;
	letter-spacing: 1.5px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 0;
	> i {
		margin-left: 18px;
	}
	&:hover, &:focus {
		color: darken($color-red, 15%);
		> i {
			@include animation('.3s hvr-icon-hang-sink 0s ease-out 1', '1.5s hvr-icon-hang .3s ease-in-out infinite');
		}
	}
}