.hero {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 350px;
	padding: 60px 0;
	position: relative;
	> .container {
		position: relative;
		z-index: 5;
	}
	img {
		max-width: 100%;
	}
	&:before {
		background-color: rgba(#191919, .4);
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
	}
	.btn-hero {
		font-weight: 800;
		font-size: 20px;
		color: $color-white;
		letter-spacing: 3px;
		text-align: center;
		line-height: 24px;
		text-transform: uppercase;
		position: relative;
		text-decoration: none !important;
		&:before, &:after {
			@include transition(all .2s ease-in-out);
		}
		&:after {
			background-color: $color-red;
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			bottom: 2px;
			right: 0px;
		}
		&:before {
			background-color: $color-red;
			content: "";
			display: block;
			width: 0px;
			height: 4px;
			position: absolute;
			bottom: 2px;
			left: 0px;
			-webkit-transition-delay: .2s;
			-moz-transition-delay: .2s;
			transition-delay: .2s;
		}
		> span {
			display: inline-block;;
			position: relative;
			z-index: 5;
			i {
				position: relative;
				right: -5px;
				top: 1px;
				margin-left: 0;
			}
		}
		&:hover, &:focus {
			&:after {
				width: 0px;
			}
			&:before {
				width: 100%;
			}
			i {
				@include animation('.3s hvr-icon-hang-sink 0s ease-out 1', '1.5s hvr-icon-hang .3s ease-in-out infinite');
			}
		}
	}
	&.hero-home {
		background-image: url('#{$image-path}/hero.png');
		text-align: center;
		.hero-img {
			margin-bottom: 55px;
		}
	}
	@include media-breakpoint-up(sm) {
		&.hero-home {
			.hero-img {
				img {
					max-width: 400px;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		min-height: 700px;
		padding: 90px 0;
		.btn-hero {
			font-size: 36px;
			&:after, &:before {
				bottom: 2.5px;
				height: 8px;
			}
			> span {
				i {
					right: -7px;
					top: 3px;
					margin-left: 10px;
				}
			}
		}
		&.hero-home {
			.hero-img {
				margin-bottom: 135px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}