$blackcolor: #000000;
$redcolor: #EF4036;
$silvercolor: #8A8A8A;
$lightsilvercolour: #C7C7C7;
$whitecolor: #fff;

.itleinstylegoide{
	margin: 0 !important;
	padding: 0 !important;


	font-family: 'Raleway', sans-serif !important;
	font-weight: 500 !important;
	color: $silvercolor !important;
	font-size: 18px !important;
	letter-spacing: 2px !important;
}
.colour-section{
	padding-top: 105px;
	ul{
		margin: 0;
		padding: 0;

		margin-top: 25px;
		li{
			display: inline;
			.blackcolor{
				display: inline-block;
				margin-right: 19px;
				background: $blackcolor;
				width: 98px;
				height: 98px;
			}
			.redcolor{
				display: inline-block;
				margin-right: 19px;
				background: $redcolor;
				width: 98px;
				height: 98px;
			}
			.silvercolor{
				display: inline-block;
				margin-right: 19px;
				background: $silvercolor;
				width: 98px;
				height: 98px;
			}
			.lightsilvercolour{
				display: inline-block;
				margin-right: 19px;
				background: $lightsilvercolour;
				width: 98px;
				height: 98px;
			}
		}
	}
}

.typography-section{
	padding-top: 105px;
	h1{
		padding: 0;
		margin: 0;
		
		margin-top: 21px;

		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		color: $blackcolor;
		letter-spacing: 2px;
		font-size: 44px;	
		position: relative;
		display: table;
		padding-right: 8px;
	}
	h1:after{
		background-color: #EF4036;
		content: "";
		display: block;
		width: 100%;
		height: 9px;
		position: absolute;
		bottom: 6px;
		right: 0px;
		z-index: -1;
	}

	h2{
		padding: 0;
		margin: 0;

		margin-top: 17px;

		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		color: $blackcolor;
		letter-spacing: 1.5px;
		font-size: 36px;	
		position: relative;
		display: table;
		padding-right: 8px;
	}
	h2:after{
		background-color: #EF4036;
		content: "";
		display: block;
		width: 100%;
		height: 9px;
		position: absolute;
		bottom: 6px;
		right: 0px;
		z-index: -1;
	}

	h3{
		padding: 0;
		margin: 0;

		margin-top: 15px;

		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		color: $blackcolor;
		letter-spacing: 2px;
		font-size: 28px;	
		position: relative;
		padding-right: 8px;
	}

	h4{
		padding: 0;
		margin: 0;

		margin-top: 12px;

		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
		color: $blackcolor;
		letter-spacing: 2px;
		font-size: 20px;	
		position: relative;
		padding-right: 8px;
	}

	.itleinstylegoide{
		span{
			display: block;
			padding-top: 25px;
			padding-bottom: 15px;
		}
	}
	p{
		padding: 0;
		margin: 0;

		max-width: 470px;

		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		color: $blackcolor;
		letter-spacing: -0.05px;
		line-height: 36px;
		font-size: 18px;	
		position: relative;
		padding-right: 8px;
	}
	.quote{
		padding: 0;
		margin: 0;
		max-width: none;

		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-style: italic;
		color: $blackcolor;
		letter-spacing: 0.08px;
		line-height: 56px;
		font-size: 28px;	
		position: relative;
		padding-right: 8px;
		span{
			font-weight: 800;
		}
	}
}


.buttons-section{
	padding-top: 105px;
	.btn1{
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.btnsfile{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.btn-file{
		color: $redcolor;
		padding: 0;
		font-family: "Muli", sans-serif;
		font-weight: 800;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 18px;

		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
		i{
			color: $redcolor;
			margin-left: 0;
			margin-right: 9px;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}
	.btn-file:hover{
		color: #4A4A4A;
		i{
			color: #4A4A4A;
		}
	}

	.activebtn-file{
		color: #4A4A4A;
		i{
			color: #4A4A4A;
		}
	}

	.socmedia{
		margin-top: 50px;
		li{
			display: inline;
			i{
				color: $redcolor;
				font-size: 36px;
				letter-spacing: 0.07;
				margin-left: 20px;
				margin-right: 20px;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			a:hover{
				i{
					color: #4A4A4A;
				}
			}
		}
	}
}


.shareable-section{
	background: #F6F6F6;
	padding-top: 100px;
	padding-bottom: 70px;
	.wraper{
		background: $whitecolor;
		padding-top: 20px;
		padding-bottom: 61px;
		.circle{
			margin: auto;
			width: 190px;
			height: 190px;
			border-radius: 50%;
			margin-top: -60px;
			background: $whitecolor;

			h1{
				padding: 0;
				margin: 0;


				text-transform: uppercase;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				color: $redcolor;
				font-size: 100px;	
				line-height: 144px;
				padding-top: 10px;
				position: relative;
				text-align: center;

				span{
					position: absolute;
					font-size: 64px;
					left: -10px;
					    top: 7px;
				}
			}
			h2{
				padding: 0;
				margin: 0;


				text-transform: uppercase;
				font-family: "Muli", sans-serif;
				font-weight: 900;
				color: $redcolor;
				font-size: 36px;
				letter-spacing: 2px;	
				line-height: 36px;
				margin-top: -25px;
				position: relative;
				text-align: center;
			}
		}
		p{
			padding: 0;
			margin: 0;

			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #4A4A4A;
			line-height: 30px;
			font-size: 18px;
			max-width: 333px;
			display: block;
			margin: auto;
		}
		ul{
			padding: 0;
			margin:0;
			list-style-type: none;
			a{
				font-family: 'Raleway', sans-serif;
				font-weight: 500;
				font-size: 18px;
				line-height: 40px;
				color: #4A4A4A;
				i{
					color: $redcolor;
					width: 35px;
					margin-bottom: 20px;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}

			}
			a:hover, a:focus{
				text-decoration: none;
				i{
					margin-right: 5px;
				}
			}
		}
	}
}
.cta-section{
	background: $blackcolor;
	padding-top: 29px;
	padding-bottom: 29px;
	margin-bottom: 50px;
	img{
		display: block;
		margin: auto;
		margin-bottom: 24px;
	}
	h1{
		padding: 0;
		margin: 0;
		margin-bottom: 22px;

		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: $whitecolor;
		letter-spacing: 0.43px;
		font-size: 24px;
		text-align: center;
	}
	form{
		input{
			display: block;
			width: 100%;
			max-width: 665px;
			margin: auto;
			border: 2px solid #979797;
			padding: 15px 20px 15px 20px;
			margin-bottom: 23px;

			  font-family: 'Raleway', sans-serif;
				font-weight: 500;
				color: $blackcolor;
				letter-spacing: 1px;
				font-size: 18px;
		}
		*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #9B9B9B;
			letter-spacing: 1px;
			font-size: 18px;
		}
		*::-moz-placeholder { /* Firefox 19+ */
		  font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #9B9B9B;
			letter-spacing: 1px;
			font-size: 18px;
		}
		*:-ms-input-placeholder { /* IE 10+ */
		  font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #9B9B9B;
			letter-spacing: 1px;
			font-size: 18px;
		}
		*:-moz-placeholder { /* Firefox 18- */
		  font-family: 'Raleway', sans-serif;
			font-weight: 500;
			color: #9B9B9B;
			letter-spacing: 1px;
			font-size: 18px;
		}

		button{
			padding: 0 35px;
			border-radius: 50px;
			border: 0;
			margin: auto;
			display: block;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			color: $whitecolor;
			background: $redcolor;
			letter-spacing: 2px;
			line-height: 55px;
			font-size: 20px;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		button:hover{
			background: $whitecolor;
			color: $redcolor;
		}
	}
}





